
img {
    width: 100%;
    height: auto;
    display: block;
}

html{
    scroll-behavior:smooth;
}

/* || UTILITY CLASSES */

.nowrap{
    white-space:nowrap;
}



/* || GENERAL STYLES */
body {
    min-height:100vh;
    font: 1.5rem serif;
    background-color: blue;
    background-image: radial-gradient(white, blue);
    display:flex;
    flex-direction:column;
}



@media screen and (min-width: 481px){

}

header, nav, main, footer {
    display: grid;
    place-content: center;
    grid-template-columns:100%;
    text-align:center;
}
    header, footer{
    position:sticky;
    background-color:black;
    color:white;
    text-align:center;
                
}
header{
    top:0;
}
nav{
    background-color:white;
    color:black;
    padding: 0.5rem;
    border-bottom: 2px solid yellow;
    text-align:center;
    display:flex;
    justify-content:space-evenly;
    scroll-behavior:smooth;

}
main{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:1.5rem;
    padding:1rem;
}

footer{
    bottom:0;
   
}

.card {
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    background-color: gray;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card figure{
    display:flex;
    flex-flow: column nowrap;

}

.card img{
    border: 5px solid black;



}

.card figcaption{
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}



/* SMALL */
@media screen and (min-width: 576px){
    body{
        background-color:green;
        background-image: radial-gradient(white, green);

    }
    nav{
        display:none;
    }
}

/* MEDIUM */
@media screen and (min-width: 768px) {
    body {
        background-color: gold;
        background-image: radial-gradient(white, gold);
    }
}

/* LARGE */
@media screen and (min-width: 992px) {
    body {
        background-color: purple;
        background-image: radial-gradient(white, purple);
    }

    
    }

/* XL */
@media screen and (min-width: 1200px) {
    body {
        background-color:red;
        background-image: radial-gradient(white, red);
    }
}

/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7 / 4) {
    body {
        background-color: orange;
        background-image: radial-gradient(white, orange);
    }
    h1, h2{
        font-size: 1.5rem;
    }
}




